<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594683417509-o8pd43sv2d52nnqulvf83eso0tb6bkro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594683417509-o8pd43sv2d52nnqulvf83eso0tb6bkro</string>
	<key>API_KEY</key>
	<string>AIzaSyDEY7ahNi_neMeZK9SD6eY9eO49pqDakB4</string>
	<key>GCM_SENDER_ID</key>
	<string>594683417509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-c24aa</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-c24aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594683417509:ios:d0a5b38893f03397a24e4c</string>
</dict>
</plist>